#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

li {
  text-decoration: none;
}

li:hover {
  cursor: pointer;
}

/* nav {
  display: flex;

} */

nav li {
  text-decoration: none;
  display: inline-block;
  margin: 0 20px;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0 0 20px 0 ;
}


nav {
  height: 50px;
  /* width: 50%; */
  border: 1px solid red;
  margin: 0 auto;
  position: relative;
}

button {
  margin: 10px;
}

button:hover {
  color: white;
  background-color: blue;
}