#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

nav li {
  text-decoration: none;
  display: inline-block;
  margin: 0 20px;
  background-color: white;
}

h2 {
  padding-top: 20px;
}

h2#h2-button {
  display: inline-block;
  text-align: right;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin-bottom: -10px;
}

.shopped {
  text-decoration: line-through;
  font-weight: normal;
  color: black;
}

.not-shopped {
  text-decoration: none;
  font-weight: bold;
  color: red;
}

li {
  text-decoration: none;
}

li:hover {
  cursor: pointer;
}

.shopping-list {
  padding-bottom: 5px;
}

#finish-shopping {
  margin-top: 40px;
  background-color: lightgreen;
}

#form {
  padding: 10px;
  border: 1px solid green;
  border-radius: 5px;
  width: 80%;
  margin-bottom: 15px;
}

#add-button {
  font-size: 10px;
  font-weight: bold;
  background-color: lightgreen;
  margin-bottom: 10px;
}

#remove-button {
  font-size: 10px;
  font-weight: bold;
  background-color: rgba(255, 182, 193, 0.599);
  margin-bottom: -5px;
}

#save-button {
  position: sticky;
  top: 70px;
  border: solid 2px rgb(185, 247, 185);
}

#save-button:hover {
  background: lightgreen;
  color: green;
}

.active {
  font-weight: bold;
  background-color: lightblue;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.inActive {
  border-radius: 5px;
  padding: 10px;
  border: solid 1px lightblue;
  background-color: white;
}

.whiteBG {
  background-color: white;
  position: sticky;
  top: 60px;
}

/* .main-buttons {
  width: 250px;
  height: 50px;
  border: solid green 2px;
  border-radius: 5px;
  background-color: chartreuse;
  padding: 10px;
} */

nav {
  height: 50px;
  margin: 5 auto;
  position: sticky;
  top: 0;
  background-color: white;
  border: solid 1px white;
  padding-bottom: 10px;
}

button {
  margin: 5px;
}

button:hover {
  color: white;
  background-color: blue;
}

.store-selected {
  background-color: green;
  color: white;
}
